---
/* Only the main Sass file needs front matter (the dashes are enough) */
search: false
---

$link-color: #6d5550;
$primary-color: #9ec0c8;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

/* Override feature row grid spacing */
.feature__item--left .archive__item-teaser,
.feature__item--right .archive__item-teaser {
  margin-bottom: 1em;
}

.feature__item--left .archive__item-body {
  padding-left: 1em;
}

.feature__item--right .archive__item-body {
  padding-right: 1em;
}